git <!-- your html code here -->
<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link ref="stylesheet"  href="styles.css"> 
<script src="https://kit.fontawesome.com/e8f06d37c7.js" crossorigin="anonymous"></script>

<div class="container" margin="auto" .bg="secondary">
	<div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-lg">
          <form class="form-horizontal" action="" method="post">
          <fieldset>
            <legend class="text-left"><h1>Contact</h1></legend>
            <p class="text-justify">Donec ullamcorper nulla non metus auctor fringila. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna,vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                 
            <!-- Email -->
            <div class="form-group" .bg="light">
              <label class="col-md-3 control-label" for="email">Your E-mail</label>
              <div class="col-md-15">
                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
              </div>
            </div>
    
            <!-- Mensaje -->
            <div class="form-group" .bg="light">
              <label class="col-md-3 control-label" for="message">Your message</label>
              <div class="col-md-15">
                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
              </div>
            </div>
    
            <!-- Boton -->
            <div class="form-group">
              <div class="col-md-15 text-right">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
	</div>
</div>