<!-- <div class="container border-top">

                <div class="card border-0">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3>
                                    <strong>The First Heading</strong><strong class="text-muted" > Will Catch You Eye</strong>
                                <h3>
                                  <p class="fs-6 text wrap"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis nostrum deserunt commodi ratione voluptate sint rem quaerat laborum eveniet ab.</p>
                            </div>
                        </div>
                                <div class="card border-0 col-md-4 p-5 image-fluid" >
                                    <img src="/website/assets/img/1.jpg"  class="rounded-circle  " alt="hombre con lentes">
                                </div>
                    </div>
                </div>
            </div> -->


            <!-- your html code here -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link ref="stylesheet"  href="styles.css"> 
    <script src="https://kit.fontawesome.com/e8f06d37c7.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="firstheading" class="container-fluid border-top">
        <div class="card border-0">
            <div class="row m-5">
                <div class="card border-0">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3>
                                    <strong>The First Heading</strong><strong class="text-muted" > Will Catch You Eye</strong>
                                <h3>
                                  <p class="fs-6 text wrap"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis nostrum deserunt commodi ratione voluptate sint rem quaerat laborum eveniet ab.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="/website/assets/img/1.jpg"  height="60%" class="rounded-circle" alt="hombre con lentes">
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </div>