<div class="container border-top">

                <div class="card border-0">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3>
                                    <strong>The First Heading</strong><strong class="text-muted" > Will Catch You Eye</strong>
                                <h3>
                                  <p class="fs-6 text wrap"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis nostrum deserunt commodi ratione voluptate sint rem quaerat laborum eveniet ab.</p>
                            </div>
                        </div>
                                <div class="card border-0 col-md-4 p-5 image-fluid" >
                                    <img src="/website/assets/img/1.jpg"  class="rounded-circle  " alt="hombre con lentes">
                                </div>
                    </div>
                </div>
            </div>

            
            <!-- your html code here -->

 <!-- <div id="firstheading" class="container-fluid border-top">
        <div class="card border-0">
            <div class="row m-5">
                <div class="card border-0">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3>
                                    <strong>The First Heading</strong><strong class="text-muted" > Will Catch You Eye</strong>
                                <h3>
                                  <p class="fs-6 text wrap"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis nostrum deserunt commodi ratione voluptate sint rem quaerat laborum eveniet ab.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="/website/assets/img/1.jpg"  height="60%" class="rounded-circle" alt="hombre con lentes">
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </div>  -->