<!-- --------------SERVICES JESUS CHACON---------------- -->

    <div class="container border-top justify-content-center" >
         <div class="container d-flex border-0 m-5">
             <div class="row">
                               
                 <div class="col-md-4 p-1" >
                     <img src="/website/assets/img/2.jpg" class="rounded-circle" alt="teclado">
                 </div>
                 
                 <div class="col-md-8" >
                     <div class="card-body">
                         <h3><strong>The seccond Heading </strong><strong style="color:gray">Is Pretty Cool Too.</strong></h3>
                         <p class="fs-6 text-wrap">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, sequi ducimus? Vitae, 
                            quis! Iusto velit, officiis aut, beatae ipsam, similique est ex repellat vel blanditiis 
                            natus quasi aspernatur tempora laboriosam.
                         </p>
                     </div>
                  </div>
             </div>  
         </div>
    </div>