<!-- <div class="container">
    <div class="jumbotron jumbotron-fluid vh-100" style= "background-image: url(https://github.com/mevctrader/exercise-collaborative-html-website/blob/master/website/assets/img/bg.jpg?raw=true); background-position: 50% 90%;" class="img-fluid" alt="Responsive image; brackground-size: 100%">
        <div class="header-1">
            <h1 class="display-1 bg-white text-center m-t 5">One Page Wonder</h1>
        </div>
        <div>
            <h1 class="display-3 bg-white text-center">Will Knock Your Socks of</h1>
        </div>
    </div>
</div> -->







<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
  
    <div class="jumbotron jumbotron-fluid vh-100" style= "background-image: url(https://github.com/mevctrader/exercise-collaborative-html-website/blob/master/website/assets/img/bg.jpg?raw=true); background-position: 50% 90%;" class="img-fluid" alt="Responsive image; brackground-size: 100%">
      <div class="header-1">
          <h1 class="display-1 bg-white text-center m-t 5">One Page Wonder</h1>
      </div>
      <div>
          <h1 class="display-3 bg-white text-center">Will Knock Your Socks of</h1>
      </div>
  </div>
    
</body>




