<div class="container mb-4">
    <div class="card border-0">
            
        <img src="/website/assets/img/bg.jpg" class="card-img" alt="fondo">
            <div class="card-img-overlay  text-center ">
                    <br><br><br>    
                        <div class ="row">
                            <div class="col-12 bg-white p-3">
                                <h1 class= "card-title">One Page Wonder</h1>
                            </div>
                        </div>
                                 
                            <br>

                        <div class = row> 
                            <div class = "col-12 bg-white p-3">
                                <h1 class= "card-title">Will Knock Your Socks Off</h1>
                            </div>
                        </div>
             </div>
     </div>
</div>




